.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 15px;
    width: 330px;
    height: auto;
    background-color: #a8a7a343;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1{
    text-align: center;
    color: #333;
}
input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1e0404;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

button{
    padding: 10px;
    font-size: 16px;
    width: 150px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #1e0404;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #575252;
}

.auth-bottom{
    text-align: center;
    color: #333;
    margin-top: 15px;
}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}