.main {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #1d1f20;
  padding: 20px;
  color: white;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
    background-color: #c9c3c3;
    color: black;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #b1abab;
}

.content {
  flex: 1;
  padding: 30px;
  width: 100%;
  background-color: #f2f2f2;
}

.box {
  background: white;
  padding: 20px;
  width: 850px;
}

.patient-info{
    display: flex;
    padding: 10px;
}

.patient-profile{
    margin-left: 20px;
}

.patient-profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.patient-details p{
    margin: 10px;
    font-size: 20px;

}

.doctor-list {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.doctor-info {
  padding: 20px;
}

.doctor-card {
  background: white;
  padding: 15px;
  width: 200px;
}

.doctor-card button {
  margin-top: 10px;
}

.doctor-profile{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.doctor-profile img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    align-self: center;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

.modal h3 {
  margin-bottom: 15px;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modal textarea {
  resize: none;
  height: 70px;
}

.modal label {
  margin-right: 15px;
  font-size: 14px;
}
input[type="radio"] {
  width: auto;
}
label {
  margin-right: 10px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modal-btns button,
.modal button {
  padding: 8px 14px;
  border: none;
  background-color: #222323;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btns button:hover,
.modal button:hover {
  background-color: #434445;
}

.modal img {
  display: block;
  margin: auto;
}

